@use './var.sass' as v
@use './mixin' as f

.showImg
    position: relative
    overflow: clip
    .showImg_img
        position: relative
        width: 100%
        height: 100%
        object-fit: cover
        transform-origin: center bottom
        scale: 1.1
        +f.tra(scale, 2.8s, 0s, auto)
    .showImg_shutter
        position: absolute
        width: 100%
        height: 200%
        bottom: 0
        background: linear-gradient(0deg, rgba(v.$white, 1) 0%, rgba(v.$white, 1) 50%, rgba(v.$white, 0) 100%,)
        +f.tra(transform, 2.4s, 0s, auto)
.showImg.--act
    .showImg_img
        scale: 1
    .showImg_shutter
        transform: translate3d(0, 100%, 0)

.hoverText
    display: inline-block
    overflow: clip
    position: relative
    .hoverText_outer
        position: relative
        display: inline-block
        +f.tra(transform, 1.2s, 0s, auto)
        span:last-child
            position: absolute
            top: 100%
            left: 0
a:has(.hoverText):hover,
button:has(.hoverText):hover
    .hoverText_outer
        transform: translate3d(0, -100%, 0)

.slTexts
    .slTexts_line
        position: relative
        display: inline-block
        vertical-align: top
    .slTexts_text
        display: inline-block
        position: relative
        transform: translate3d(0, 0, 0)
        +f.tra(transform, 1.6s, 0s, auto)
    .slTexts_text.--hide
        transform: translate3d(0, -100%, 0)
    .--pc:not(.--sp)
        +f.sp
            display: none
    .--sp:not(.--pc)
        display: none
        +f.sp
            display: inline
.slTexts.--clip
    overflow: clip
.slTexts.--noClip
    +f.tra(opacity, 0.6s, 0s, linear)
    opacity: 0
    .slTexts_text.--hide
        transform: translate3d(0, -75%, 0)
.slTexts.--noClip:not(:has(.slTexts_text.--hide))
    opacity: 1




.cta
    display: block
    width: 1144rem
    height: 316rem
    margin: 0 auto
    +f.flex(cen, cen, col)
    position: relative
    +f.tra(filter, 0.4s, 0s, linear)
    .cta_main
        +f.font(159, 120, 10, ForR)
    .cta_sub
        +f.font(30, 50, 0, ZenMiB)
        +f.tra(opacity, 1.0s, 1.6s, linear)
        margin-bottom: 0.5em
        opacity: 0
        position: relative
.cta::before
    content: ""
    width: 100%
    height: 100%
    border: 2px currentColor solid
    position: absolute
    border-radius: 100vmax
    +f.tra(scale, 2.4s, 0s, cubic-bezier(.02,.85,.14,.99))
    scale: 0
    background-color: v.$white
.cta.--show
    .cta_sub
        opacity: 1
.cta.--show::before
    scale: 1
.cta:hover
    filter: invert(1)

.subHeading
    +f.font(30, 160, 0, ZenMiB)
    text-transform: uppercase

.sectionHeading
    .sectionHeading_sub
        +f.font(17, 160, 6, ZenGoR)

.mainButton
    +f.font(14, 130, 6, ZenGoM)
    padding: 2rem 1em 5rem
    border-radius: 100vmax
.mainButton.--bg_black
    background-color: v.$black
    color: v.$white

.footer
    margin-top: v.$sectionMt
    .mainNav
        margin-top: v.$sectionMt

.mainNav
    @include f.sectionW
    +f.flex(sta, sta)
    position: relative
    margin-bottom: 45rem
    .mainNav_main
        width: 348rem
        margin-right: 271rem
        +f.font(65, 140, 10, ForR)
        text-transform: uppercase
    .mainNav_subs
        +f.font(16, 210, 6, ZenGoR)
        +f.grid(repeat(2, 1fr), auto, 6rem, 2.1em)
        margin-bottom: calc(2.1em * 4)
        width: 618rem
        margin-top: 0.8em
        .mainNav_sub_title
            +f.font(16, 210, 6, ZenMiB)
        .mainNav_sub:nth-child(1)
            grid-area: 1 / 1 / 2 / 2
            width: 259rem
        .mainNav_sub:nth-child(2)
            grid-area: 2 / 1 / 3 / 2
            width: 259rem
        .mainNav_sub:nth-child(3)
            grid-area: 1 / 2 / 2 / 3
            width: 348rem
    .mainNav_thum
        width: fit-content
        position: absolute
        bottom: 0
        right: 0
        svg
            width: 171rem
            height: auto
            aspect-ratio: 171 / 305
            fill: currentColor