@use './var.sass' as v
@use './mixin' as f

.top
    .fv
        height: 100svh
        position: relative
        max-height: 960rem
        color: v.$white
        +f.flex()
        overflow: clip
        .fv_bg
            position: absolute
            width: 100%
            height: 100%
            +f.tra(opacity, 0.8s, 0s, linear)
            opacity: 0
            .fv_bg_img
                width: 100%
                height: 100%
                object-fit: cover
                transform-origin: center bottom
                scale: 1.1
                +f.tra(scale, 2.6s, 0s, auto)
        .fv_bg::after
            content: ""
            position: absolute
            height: 179rem
            width: 100%
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%,)
            opacity: 0.4
            bottom: 0
        .fv_texts
            @include f.sectionW
            position: absolute
            bottom: 0
            +f.flex(sta, bet)
            .fv_texts_main
                +f.font(83, 140, 10, ForR)
                position: relative
                bottom: -8rem
            .fv_texts_sub
                text-align: right
                +f.font(27, 149, 6, ZenMiB)
                margin-bottom: 4rem
                position: absolute
                right: -28rem
                bottom: 6rem
                +f.tra(opacity, 1.6s, 1.0s, linear)
                opacity: 0
                span:nth-child(1)
                    margin-right: 1.8em
        .fv_shutter
            position: absolute
            pointer-events: none
            width: 100%
            height: 200%
            bottom: 0
            background: linear-gradient(0deg, rgba(v.$white, 1) 0%, rgba(v.$white, 1) 50%, rgba(v.$white, 0) 100%,)
            +f.tra(transform, 2.0s, 0s, auto)
    .fv.--act
        .fv_shutter
            transform: translate3d(0, 100%, 0)
        .fv_bg
            opacity: 1
            .fv_bg_img
                scale: 1
        .fv_texts_sub
            opacity: 1
    .concept
        width: 966rem
        padding: v.$sectionMt 0
        margin: 0 auto
        position: relative
        .showImg
            width: 347rem
            height: 465rem
        .cencept_caths
            position: absolute
        .concept_heading
            +f.font(17, 160, 11, ZenMiB)
            margin-left: 88rem
        .cencept_cath.--en
            +f.font(83, 140, 10, ForR)
            span:nth-child(2)
                margin-left: 175rem
            span:nth-child(3)
                margin-left: 173rem
        .cencept_cath.--jp
            -ms-writing-mode: tb-rl
            writing-mode: vertical-rl
            +f.font(27, 210, 20, ZenMiB)
            margin-top: 1em
            margin-left: 335rem
            span:nth-child(2)
                margin-top: 8.4em
        .cencept_itemBox
            width: 437rem
            position: relative
            margin: 264rem 0 0 auto
            +f.font(17, 290, 6, ZenMiB)
            .cencept_text
                margin-top: 2.9em
    .facility
        margin: v.$sectionMt 0 0
        .facilityList
            position: relative
            color: v.$white
        .facilityList_sticky
            position: sticky
            top: 0
            width: 100%
            height: 100svh
            .facilityList_sticky_item
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                +f.flex()
                +f.tra(opacity, 0.4s, 0s, linear)
                opacity: 0
                .facilityList_sticky_img
                    position: absolute
                    width: 100%
                    height: 100%
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                .facilityList_sticky_img::before
                    content: ""
                    position: absolute
                    height: 179rem
                    width: 100%
                    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%,)
                    opacity: 0.8
                    bottom: 0
                .facilityList_sticky_texts
                    +f.flex(end, bet)
                    +f.tra(opacity, 0.4s, 0.4s, linear)
                    opacity: 0
                .facilityList_sticky_itemBox
                    width: 791rem
                .facilityList_sticky_numbers
                    +f.flex(cen, bet)
                    width: 259rem
                    +f.font(15, 240, 11, ZenMiB)
                    .facilityList_sticky_numbers_number
                        +f.flex(cen, bet)
                        width: 141rem
                        position: relative
                    .facilityList_sticky_numbers_number::before
                        content: ""
                        width: 81rem
                        height: 1px
                        background-color: currentColor
                        position: absolute
                        left: 50%
                        transform: translateX(-50%)
                .facilityList_sticky_title
                    +f.font(30, 170, 10, ZenMiB)
                .facilityList_sticky_text
                    +f.font(17, 170, 10, ZenGoR)
                    width: 524rem
                    margin-bottom: 0.5em
            .facilityList_sticky_item.--current
                opacity: 1
                .facilityList_sticky_texts
                    opacity: 1

            .facilityList_sticky_texts
                @include f.sectionW
                position: absolute
                bottom: 0
        .facilityList_scroll
            pointer-events: none
            > div
                height: 960rem
    .others
        position: relative
        @include f.sectionW
        margin-top: v.$sectionMt
        .others_block
            width: 100%
            min-height: 960rem
            +f.flex(cen, bet)
            padding: 0 0 v.$sectionMt
            .others_texts
                width: 524rem
            .others_catch
                +f.font(34, 170, 6, ZenMiB)
                margin: 1.7em 0
            .others_text
                +f.font(17, 170, 6, ZenGoR)
            .others_imgs
                width: 790rem
                +f.flex()
                .others_imgs_inner
                    position: relative
                .showImg
                    position: absolute
            .others_imgs.--ame
                .others_imgs_inner
                    height: 785rem
                    width: 613rem
                .showImg:nth-child(1)
                    width: 260rem
                    height: 358rem
                .showImg:nth-child(2)
                    width: 347rem
                    height: 231rem
                    right: 0
                    top: 192rem
                .showImg:nth-child(3)
                    width: 259rem
                    height: 357rem
                    bottom: 0
                    left: 177rem
            .others_imgs.--bed
                .others_imgs_inner
                    width: 613rem
                    height: 409rem
                .showImg:nth-child(1)
                    width: 100%
                    height: 100%
            .others_imgs.--mea
                .others_imgs_inner
                    width: 701rem
                    height: 737rem
                .showImg:nth-child(1)
                    width: 613rem
                    height: 413rem
                .showImg:nth-child(2)
                    width: 364rem
                    height: 461rem
                    right: 0
                    bottom: 0
    .others
        .others_block:nth-child(odd)
            flex-direction: row-reverse
    .floor
        @include f.sectionW
        margin-top: v.$sectionMt
        .sectionHeading
            .sectionHeading_sub
                margin-bottom: 1.6em
        .floor_wrapper
            width: 100%
            aspect-ratio: 16/10
            background-color: rgba(v.$black, 0.05)
            border: 1px currentColor dotted
            +f.font(16, 160, 0, ZenGoR)
            +f.flex()
    .gallery
        margin-top: v.$sectionMt
        @include f.sectionW
        .sectionHeading
            .sectionHeading_sub
                margin-bottom: 1.6em
        .gallerySlider
            height: 801rem
            +f.flex(sta, bet)
            .gallerySlider_nav
                height: 100%
                position: relative
                .gallerySlider_nav_scroll
                    height: 100%
                    width: calc(82rem * 2)
                    overflow-y: scroll
                    overflow-x: visible
                    @include f.no-scrollbar
                    position: relative
                    position: absolute
                    left: calc(-82rem * 0.5)
                .gallerySlider_nav_items
                    +f.flex(sta, cen, col)
                    gap: 8rem
                    margin: calc((801rem - 48rem) * 0.5) auto
                .gallerySlider_nav_item
                    width: 82rem
                    height: 48rem
                    margin: 0 auto
                    +f.flex()
                    .gallerySlider_nav_item_inner
                        background-color: rgba(v.$black, 0.05)
                        +f.flex()
                        width: 100%
                        height: 100%
                        +f.tra(filter, 0.2s, 0s, linear)
                        img
                            width: 100%
                            height: 100%
                            object-fit: cover
                // .gallerySlider_nav_item.--current
                    // .gallerySlider_nav_item_inner
                    //     filter: lighten(, )
            .gallerySlider_nav::after
                content: ""
                width: calc(82rem + 4rem * 2)
                height: calc(48rem + 4rem * 2)
                border: v.$border
                position: absolute
                left: -4rem
                top: calc((801rem - 48rem - 4rem * 2) * 0.5)
                pointer-events: none
            .gallerySlider_window
                height: 801rem
                width: 1203rem
                +f.flex()
                position: relative
                right: -60rem
                .gallerySlider_window_item
                    position: absolute
                    // background-color: rgba(v.$black, 0.05)
                    width: 100%
                    height: 100%
                    img
                        width: 100%
                        height: 100%
                        object-fit: contain
    .access
        @include f.sectionW
        padding-top: v.$sectionMt
        .access_wrapper
            +f.flex(sta, bet)
            +f.font(17, 200, 6, ZenGoR)
            .access_text
                width: 613rem
                .sectionHeading
                    margin-bottom: 6em
                h3
                    font-weight: 500
                    margin-top: calc(2 * 1.5em)
            .access_img
                width: 613rem
    .faq
        @include f.sectionW
        padding-top: v.$sectionMt
        .subHeading
            margin-bottom: 15rem
        .faqList
            +f.font(17, 160, 0, ZenMiB)
            width: 100%
            border-top: v.$border
            .faqList_card
                border-bottom: v.$border
                background: v.$white
                +f.tra(filter, 0.6s, 0s, lineaer)
            .faqList_card_q
                width: 100%
                +f.flex(sta, bet)
                padding-top: 3.2em
                padding-bottom: 3.2em
                .faqList_card_q_number
                    width: 82rem
                    text-align: center
                .faqList_card_q_title
                    width: 967rem
                .faqList_card_q_icon
                    fill: currentColor
                    width: 82rem
                    rect:nth-child(1)
                        +f.tra(opacity, 0.4s, 0s, linear)
            .faqList_card_a
                padding-right: 88rem
                padding-left: 265rem
                overflow-y: clip
                height: 0
                .faqList_card_a_inner
                    padding-bottom: 3.2em
            // .faqList_card:hover,
            // .faqList_card.--open
            //     filter: invert(1)
            //     transition-duration: 1.2s
            .faqList_card.--open
                .faqList_card_q_icon
                    rect:nth-child(1)
                        opacity: 0
