/* break-point */
$sp-size: "(max-width: 768px)"
$pc-size: "(min-width: 769px)"
$lpc-size: "(min-width: 1441px)"

/* color */
$white: #fff
$black: #333
$border: 2px currentColor solid

/* font */
$default-font: 'A+EqpB-游ゴシック体 Pr6N M', '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', 游ゴシック, Hiragino Kaku Gothic Pro, 'A+EqpB-游ゴシック体 Pr6N M', '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif
/* ease */
$smooth: cubic-bezier(.14,.93,.39,1)

/* size */
$sectionMt: 220rem